/* Reset some basic elements for consistency across browsers */
* {
  margin: 0;
  padding: 0;
  /* border: 1px solid #000; */
  /* Adds a black border around all elements */
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width/height */
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f8f9fa;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  display: grid;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

header {
  padding: 20px;
}

.main-title {
  font-size: 5em;
  font-weight: bold;
  margin-bottom: 20px;
}

.nav-bar {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.nav-bar li {
  margin: 0 15px;
}

.nav-bar a {
  text-decoration: none;
  color: #333;
  font-size: 1.1em;
}

.nav-bar a:hover {
  text-decoration: underline;
}

footer {
  width: 100%;
  padding: 20px 0;
  position: relative;
  bottom: 0;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  /* max-width: 960px; */
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  color: #333;
}

.volume {
  text-align: left;
  font-size: 1.2em;
}

.year {
  text-align: right;
  font-size: 1.2em;
}

/* NAVIGATION */

/* Dropdown Button */
.dropbtn {
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
